#
# Copyright (c) 2025 ZitaoTech
# SPDX-License-Identifier: MIT
#

if BOARD_ZITAOTECH_SOFLE_LEFT

config ZMK_KEYBOARD_NAME
    default "ZITAOTECH_SOFLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_ZITAOTECH_SOFLE_LEFT


if BOARD_ZITAOTECH_SOFLE_LEFT || BOARD_ZITAOTECH_SOFLE_NUMPAD

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

if BOARD_ZITAOTECH_SOFLE_LEFT
config BOARD
    default "ZITAOTECH_SOFLE"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_PERIPHERAL_HID_INDICATORS
    default y
endif

config BT_CTLR
    default BT

endif # BOARD_ZITAOTECH_SOFLE_LEFT || BOARD_ZITAOTECH_SOFLE_NUMPAD


# =====================================================
# Numpad — standalone, no split
# =====================================================
if BOARD_ZITAOTECH_SOFLE_NUMPAD

config ZMK_KEYBOARD_NAME
    default "ZITAOTECH NUMPAD"

config BOARD
    default "ZITAOTECH_SOFLE_NUMPAD"

config ZMK_SPLIT
    default n

endif # BOARD_ZITAOTECH_SOFLE_NUMPAD
