# Copyright (c) 2025 ZitaoTech
# SPDX-License-Identifier: MIT

config BOARD_ZITAOTECH_SOFLE_LEFT
    bool

# Numpad variant (standalone, left PCB)
config BOARD_ZITAOTECH_SOFLE_NUMPAD
    bool

# config BOARD_ZITAOTECH_SOFLE_RIGHT
#     bool
