// ZitaoTech Sofle Numpad — standalone numpad on left PCB
// Copyright (c) 2025 ZitaoTech
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NUMPAD_BOOT  &bootloader
#define NUMPAD_0     &kp KP_N0
#define NUMPAD_1     &kp KP_N1
#define NUMPAD_2     &kp KP_N2
#define NUMPAD_3     &kp KP_N3
#define NUMPAD_4     &kp KP_N4
#define NUMPAD_5     &kp KP_N5
#define NUMPAD_6     &kp KP_N6
#define NUMPAD_7     &kp KP_N7
#define NUMPAD_8     &kp KP_N8
#define NUMPAD_9     &kp KP_N9
#define NUMPAD_DOT   &kp KP_DOT
#define NUMPAD_ENT   &kp KP_ENTER
#define NUMPAD_PLUS  &kp KP_PLUS
#define NUMPAD_MINUS &kp KP_MINUS
#define NUMPAD_STAR  &kp KP_ASTERISK
#define NUMPAD_SLASH &kp KP_DIVIDE

/ {
    keymap {
        compatible = "zmk,keymap";

        numpad_layer {
            display-name = "NUMPAD";
            bindings = <
NUMPAD_BOOT  &none      &none      &none      &none      &none      &none      &none
NUMPAD_7     NUMPAD_8   NUMPAD_9   NUMPAD_PLUS &none    &none      &none      &none
NUMPAD_4     NUMPAD_5   NUMPAD_6   NUMPAD_MINUS &none   &none      &none      &none
NUMPAD_1     NUMPAD_2   NUMPAD_3   NUMPAD_ENT  &none     &none      &none      &none
NUMPAD_0     NUMPAD_0   NUMPAD_DOT NUMPAD_ENT  &none     &none      &none      &none
&none        &none      &none      &none       &none      &none      &none      &none
&none        &none      &none      &none       &none      &none      &none      &none
            >;
        };
    };
};
